<section class="portfolio">
    <h2>My Portfolio</h2>
    <div class="project">
        <h3>Food Oasis App</h3>
        <p>In a team of four, we developed an application called "Food Oasis" for our Software Engineering Class Projects. The app aimed to help users locate nearby grocery stores. Users could search based on their location or filter results by distance, operating hours, and types of food available. The app was built using React Native for cross-platform compatibility, and we utilized Google Maps API for location services. </p>
    </div>
  
    <div class="project">
        <h3>Web-based Object Detection System</h3>
        <p>Working in a team of four, we developed a web-based object detection system for a class project. The system used a combination of machine learning algorithms and computer vision techniques to identify and classify objects within images uploaded by users. The front-end of the application was built using HTML, CSS, and JavaScript, while the back-end utilized Python and TensorFlow for object detection. The system provided real-time results and visualized detected objects with bounding boxes and labels.</p>
    </div>
  
    <div class="project">
        <h3>Diabetes Predictor</h3>
        <p>In a group of three, we created a diabetes prediction tool that used machine learning to analyze historical medical data and predict the likelihood of a patient developing diabetes. We sourced the dataset from Kaggle and preprocessed it to improve model performance. We used Python for data analysis and implemented various machine learning algorithms, such as logistic regression and support vector machines, to build the predictive model. The final application was built using the Streamlit library for an interactive user interface, allowing users to input their medical data and receive a personalized diabetes risk assessment.</p>
    </div>
  
    <div class="project">
        <h3>Travel Website</h3>
        <p>As a part of a web development course, I created a fully functional, responsive travel website that showcased various travel destinations, accommodation options, and tour packages. The website consisted of multiple pages such as Home, Destinations, Accommodations, Tour Packages, and Contact Us. The site was built using HTML, CSS, and JavaScript for front- end development, and PHP was used for server-side scripting. The website also featured a simple content management system (CMS) for managing destinations, accommodations, and tour packages.</p>
    </div>
  </section>